* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
  background-image: linear-gradient(to top left, #28b487, #7dd56f);
  font-family: sans-serif;
}
#app h3 {
  font-size: 5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 20rem;
  color: white;
}
.btn {
  border: none;
  padding: 1.5rem 3rem;
  margin: 0 1.5rem 3rem 1.5rem;
  font-size: 4rem;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}
.btn:focus {
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.356);
}
#app .btn:nth-child(2) {
  background-color: lightskyblue;
}
#app .btn:nth-child(3) {
  background-color: yellow;
}
#app .btn:nth-child(4) {
  background-color: red;
}
#app .btn:nth-child(5) {
  background-color: blue;
}
#app .btn:nth-child(6) {
  background-color: greenyellow;
}
#app .btn:nth-child(7) {
  background-color: purple;
}
